table {
  border-collapse: collapse;
}

th {
  background-color: lightgreen;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;
}

.odds {
  color: red;
}

.odds.favored {
  color: green;
}

.schedule-today {
  font-weight: bold;
}
